{% extends 'base.html.twig' %}

{% block title %}Listes des Figures!{% endblock %}

{% block body %}
<div class="container">
	<h1 class="my-3"> Les figures de nos snowboarders !!</h1>

	<div class="row">

	{% for figure in figures %}
		{% set url = path('figures_show', {'slug': figure.slug}) %}

<div class="col-md-4">
		<div class="card bg-light mb-3"> 
			<div class="card-header text-center">
				Catégorie {{ figure.category }} <br>
				<small> Pas encore noté</small>
			</div>
				<a href="{{ url }}">
				<img src="{{ figure.coverImage }}" alt="Image de la figure" style="height: 200px; width: 100%; display: block">
				</a>
				<div class="card-body">
					<h4 class="card-title">
						<a href="{{ url }}">
						{{ figure.title }}</h4>
						</a>
						<p class="card-text">
							{{ figure.introduction }}
						</p>
						<a href="{{ url }}" class="btn btn-secondary">Lire la suite..</a>
				</div>
			</div>
		</div>

	{% endfor %}

	</div>
</div>
{% endblock %}
