{% extends 'base.html.twig' %}

{% block title %}Ajout d'une figure{% endblock %}

{% form_theme form _self %}

{% block body %}

	<div class="container">
		<h4>Création | Modification d'une figure</h4>

		 		{{ form_start(form) }}

		 		{{ form_widget(form) }}
		 			
<button type="submit" class="btn btn-primary"> Enregistrer la nouvelle figure</button>

{{ form_end(form) }}
</div>

{% endblock %}

{% block _figure_image_widget %}
<p> Ici vous pouvez ajouter vos images !</p>

{{ form_widget(form) }}

<div class="form-group">
	<button type="button" id="add-image" class="btn btn-primary"> Ajouter une image</button>
</div>
{% endblock %}

{% block _figure_images_entry_row %}
	{{ form_widget(form) }}
{% endblock %}

{% block _figure_images_entry_widget %}
	<div class="form-group" id="block_{{id}}">
		<div class="row">
			<div class="col-10">
		<div class="row">
			<div class="col">
				{{ form_widget(form.url) }}
			</div>
			<div class="col">
				{{ form_widget(form.caption) }}
			</div>
		   </div>
		</div>
		<div class="col-2">
			<button type="button" data-action="delete" data-target="#block_{{id}} class="btn btn-danger">X</button>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}

<script>
	$('#add-image').click(function(){
		// je récupère le numéro des futurs champs que je vais créer
		const index = $('#figure_images div.form-group').length;

		// je récupère le prototype des entrées
		const tmpl = $('#figure_images').data('prototype').replace(/__name__/g, index);

		// j'injecte ce code au sein de la div
		$('#figure_images').append(tmpl);
	});
</script>

{% endblock %}

