{% extends 'base.html.twig' %}

{% block title %}
	{{figure.title}}
{% endblock %}

{% block body %}

<div class="figure-title" style="background-image: url({{ figure.coverImage }})">
	<div class="container">
		<h1>{{figure.title}}</h1>
		<p>{{figure.introduction}}</p>

		<p class="h2">
			<strong>Catégorie {{figure.category}} </strong>
		</p>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8 mb-3">
			{{ figure.content | raw }}
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
  	{% for image in figure.images %}
    <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
 	{% endfor %}
  </ol>

  <div class="carousel-inner">
  	{% for image in figure.images %}
    <div class="carousel-item {% if loop.first %}active{% endif %}">
      <img src="{{ image.url }}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
    <h5>{{figure.title}}</h5>
    <p>{{image.caption}}</p>
  </div>
</div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
		</div>
		<div class="col">
			<div class="row">
				<div class="col-4">
					<img src="http://placeholder.it/64x64" alt="Avatar de Paul">
				</div>
				<div class="col">
					<h3> Peter Line </h3>
					<span class="badge badge-primary"> 3 figures en ligne</span>
				</div>
					<p>Le héro trop discret. Peter Line est le rider le plus pointu et moderne des années 90. Il s'est fait connaître dans les vidéos Mack Dawg Productions et est le créateur de beaucoup de figures qui ont fait progresser le snowboard freestyle. Il a notamment popularisé les rotations tête en bas et on lui prête la paternité du backside rodeo, l'un des tricks à la mode de la fin des années 90. Peter Line a toujours eu un style bien à part qui colle à sa personnalité d'artiste. Il a contribué au lancement de la mythique et défunte marque de snowboard Forum qui a eu un énorme impact vers début 2000 avec les vidéos The Resistance et True Life. Il a aussi lancé la marque de vêtements techniques Foursquare pour laquelle il s'occupait du design. Une activité qu'il fait désormais pour la marque Dakine.</p>
			</div>
		</div>
	</div>	
</div>

{% endblock %}