div.container {
	margin-top: 40px;
}


div.figure-title {
	padding: 2em;
	background-size: cover;
	background-position: center center;
}


div.figure-title h1, div.figure-title p {
	color: white;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

p{
    color: #777;
    font-size: 15px;
    font-weight: 300;
    text-align : justify;
}

h1,h2,h3,h4,h6{
	color:#0874ab;
	font-family: 'Cantarell', sans-serif;
}

body{

		background: #fff;
		color:#777;
    font:400 14px/1.8 'Cantarell', sans-serif;
		-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

div.carousel-caption {
	text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
a {
    color: #0874ab;
    text-decoration: none;
    background-color: transparent;
}
.btn-secondary {
    color:#0874ab;
    background-color: #adb5bd;
    border-color: #adb5bd;
}
.btn-primary {
    color: #fff;
    background-color: #0874ab;
    border-color: #0874ab;
}