{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

	<div class="jumbotron mt-3">

  <h2 class="display-3">Bienvenue sur SnowTricks</h2>
  <p class="lead">Ce site est ouvert a tous les mordus de snowBoard pour y ajouter leur touche personnelle !! Bienvenue</p>
  <hr class="my-4">
  <p>Le Snowboard ou surf des neiges est un descendant logique du surf des mers et du skateboard. Le surf est une pratique sportive originaire d'Hawaï au moins au xve siècle et représente un élément important de la culture de ces îles. Le surf a aussi inspiré le skateboard, initié en 1950 et qui se développera plus vite, le snowboard sera plus long à être mis au point et à se répandre mais gardera l'esprit de ces 2 sports.
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">voir les figures</a>
  </p>
</div>

<h3> Les figures les plus impressionnante !</h3>

<div class="row mt-5">
	<div class="col-md-4">
		<div class="card bg-light mb-3"> 
			<div class="card-header text-center">
				Catégorie Grab & Mute <br>
				<small> Pas encore noté</small>
			</div>
				<img src="http://placehold.it/1000x400" alt="Image de la figure" style="height: 200px; width: 100%; display: block">
				<div class="card-body">
					<h4 class="card-title">
						Meilleurs Grab & Mute</h4>
						<p class="card-text">
							Une des figures les plus difficile à effectué car elle sollicite....
						</p>
						<a href="#" class="btn btn-secondary">Lire la suite..</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
		<div class="card bg-light mb-3"> 
			<div class="card-header text-center">
				Catégorie Grab & Mute <br>
				<small> Pas encore noté</small>
			</div>
				<img src="http://placehold.it/1000x400" alt="Image de la figure" style="height: 200px; width: 100%; display: block">
				<div class="card-body">
					<h4 class="card-title">
						Meilleurs Grab & Mute</h4>
						<p class="card-text">
							Une des figures les plus difficile à effectué car elle sollicite....
						</p>
						<a href="#" class="btn btn-secondary">Lire la suite..</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
		<div class="card bg-light mb-3"> 
			<div class="card-header text-center">
				Catégorie Grab & Mute <br>
				<small> Pas encore noté</small>
			</div>
				<img src="http://placehold.it/1000x400" alt="Image de la figure" style="height: 200px; width: 100%; display: block">
				<div class="card-body">
					<h4 class="card-title">
						Meilleurs Grab & Mute</h4>
						<p class="card-text">
							Une des figures les plus difficile à effectué car elle sollicite....
						</p>
						<a href="#" class="btn btn-secondary">Lire la suite..</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
		<div class="card bg-light mb-3"> 
			<div class="card-header text-center">
				Catégorie Grab & Mute <br>
				<small> Pas encore noté</small>
			</div>
				<img src="http://placehold.it/1000x400" alt="Image de la figure" style="height: 200px; width: 100%; display: block">
				<div class="card-body">
					<h4 class="card-title">
						Meilleurs Grab & Mute</h4>
						<p class="card-text">
							Une des figures les plus difficile à effectué car elle sollicite....
						</p>
						<a href="#" class="btn btn-secondary">Lire la suite..</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
		<div class="card bg-light mb-3"> 
			<div class="card-header text-center">
				Catégorie Grab & Mute <br>
				<small> Pas encore noté</small>
			</div>
				<img src="http://placehold.it/1000x400" alt="Image de la figure" style="height: 200px; width: 100%; display: block">
				<div class="card-body">
					<h4 class="card-title">
						Meilleurs Grab & Mute</h4>
						<p class="card-text">
							Une des figures les plus difficile à effectué car elle sollicite....
						</p>
						<a href="#" class="btn btn-secondary">Lire la suite..</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
		<div class="card bg-light mb-3"> 
			<div class="card-header text-center">
				Catégorie Grab & Mute <br>
				<small> Pas encore noté</small>
			</div>
				<img src="http://placehold.it/1000x400" alt="Image de la figure" style="height: 200px; width: 100%; display: block">
				<div class="card-body">
					<h4 class="card-title">
						Meilleurs Grab & Mute</h4>
						<p class="card-text">
							Une des figures les plus difficile à effectué car elle sollicite....
						</p>
						<a href="#" class="btn btn-secondary">Lire la suite..</a>
				</div>
			</div>
		</div>
	</div>

<!-- les pros et leur figures  -->

<h2> Les pros font leur show !</h2>

<div class="row">
	<div class"col">
		<div class="card border-secondary mb-3">
			<div class="card-body">
				<h4 class="card-title"> Terje Haakonsen </h4>
			</div>

		</div>
	</div>
	<div class"col">
		<div class="card border-secondary mb-3">
			<div class="card-body">
				<h4 class="card-title"> Craig Kelly </h4>
			</div>
			
		</div>
	</div>
	<div class"col">
		<div class="card border-secondary mb-3">
			<div class="card-body">
				<h4 class="card-title"> Peter Line </h4>
			</div>
			
		</div>
	</div>
</div>

</div>
{% endblock %}